@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .main-container {
    /* border: 2px solid red; */
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
  }

  .section {
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 0px 0px;
  }

  .add-button {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    margin: 0px 0px;
  }

  .title a {
    text-decoration: none;
    color: white;
  }

  .plus {
    color: lime;
  }

  .portfolios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: "Ubuntu", sans-serif;
    padding: 10px;
    /* border: 2px solid yellow; */
  }
  .portfolios a {
    text-decoration: none;
    color: white;
    padding: 6px;
    margin: 0 auto;
  }
  .port {
    display: flex;
    align-items: baseline;
    border: 1px solid lightgrey;
    width: 300px;
    flex-grow: 1;
  }

  .port-name {
    text-align: center;
    width: 90px;
    font-size: 15px;
    margin: 0;
  }
  .port-name p {
    font-size: 15px;
    margin: 0;
  }

  .port-name:hover{
    color:lime; 
  }

  .delete{
    display:flex; 
    justify-content: center;
    color: white; 
    background-color: #910E0E;
    height: 22px;
    width: 80px;
    border-radius: 10px;
  }

  .delete:hover{
    cursor: pointer;
    zoom: 110%;
  }
}
@media only screen and (min-device-width: 834px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}
